@import "@blueprintjs/core/lib/scss/variables";
:export {
  black: $black;
  darkGray1: $dark-gray1;
  darkGray2: $dark-gray2;
  darkGray3: $dark-gray3;
  darkGray4: $dark-gray4;
  darkGray5: $dark-gray5;
  gray1: $gray1;
  gray2: $gray2;
  gray3: $gray3;
  gray4: $gray4;
  gray5: $gray5;
  lightGray1: $light-gray1;
  lightGray2: $light-gray2;
  lightGray3: $light-gray3;
  lightGray4: $light-gray4;
  lightGray5: $light-gray5;
  white: $white;
  blue1: $blue1;
  blue2: $blue2;
  blue3: $blue3;
  blue4: $blue4;
  blue5: $blue5;
  green1: $green1;
  green2: $green2;
  green3: $green3;
  green4: $green4;
  green5: $green5;
  orange1: $orange1;
  orange2: $orange2;
  orange3: $orange3;
  orange4: $orange4;
  orange5: $orange5;
  red1: $red1;
  red2: $red2;
  red3: $red3;
  red4: $red4;
  red5: $red5;
  vermilion1: $vermilion1;
  vermilion2: $vermilion2;
  vermilion3: $vermilion3;
  vermilion4: $vermilion4;
  vermilion5: $vermilion5;
  rose1: $rose1;
  rose2: $rose2;
  rose3: $rose3;
  rose4: $rose4;
  rose5: $rose5;
  violet1: $violet1;
  violet2: $violet2;
  violet3: $violet3;
  violet4: $violet4;
  violet5: $violet5;
  indigo1: $indigo1;
  indigo2: $indigo2;
  indigo3: $indigo3;
  indigo4: $indigo4;
  indigo5: $indigo5;
  cobalt1: $cobalt1;
  cobalt2: $cobalt2;
  cobalt3: $cobalt3;
  cobalt4: $cobalt4;
  cobalt5: $cobalt5;
  turquoise1: $turquoise1;
  turquoise2: $turquoise2;
  turquoise3: $turquoise3;
  turquoise4: $turquoise4;
  turquoise5: $turquoise5;
  forest1: $forest1;
  forest2: $forest2;
  forest3: $forest3;
  forest4: $forest4;
  forest5: $forest5;
  lime1: $lime1;
  lime2: $lime2;
  lime3: $lime3;
  lime4: $lime4;
  lime5: $lime5;
  gold1: $gold1;
  gold2: $gold2;
  gold3: $gold3;
  gold4: $gold4;
  gold5: $gold5;
  sepia1: $sepia1;
  sepia2: $sepia2;
  sepia3: $sepia3;
  sepia4: $sepia4;
  sepia5: $sepia5;
  intentPrimary: $pt-intent-primary;
  intentSuccess: $pt-intent-success;
  intentWarning: $pt-intent-warning;
  intentDanger: $pt-intent-danger;
  appBackgroundColor: $pt-app-background-color;
  darkAppBackgroundColor: $pt-dark-app-background-color;
  outlineColor: $pt-outline-color;
  textColor: $pt-text-color;
  textColorMuted: $pt-text-color-muted;
  textColorDisabled: $pt-text-color-disabled;
  headingColor: $pt-heading-color;
  linkColor: $pt-link-color;
  darkTextColor: $pt-dark-text-color;
  darkTextColorMuted: $pt-dark-text-color-muted;
  darkTextColorDisabled: $pt-dark-text-color-disabled;
  darkHeadingColor: $pt-dark-heading-color;
  darkLinkColor: $pt-dark-link-color;
  textSelectionColor: $pt-text-selection-color;
  iconColor: $pt-icon-color;
  iconColorHover: $pt-icon-color-hover;
  iconColorDisabled: $pt-icon-color-disabled;
  iconColorSelected: $pt-icon-color-selected;
  darkIconColor: $pt-dark-icon-color;
  darkIconColorHover: $pt-dark-icon-color-hover;
  darkIconColorDisabled: $pt-dark-icon-color-disabled;
  darkIconColorSelected: $pt-dark-icon-color-selected;
  dividerBlack: $pt-divider-black;
  darkDividerBlack: $pt-dark-divider-black;
  darkDividerWhite: $pt-dark-divider-white;
  codeTextColor: $pt-code-text-color;
  darkCodeTextColor: $pt-dark-code-text-color;
  codeBackgroundColor: $pt-code-background-color;
  darkCodeBackgroundColor: $pt-dark-code-background-color;
  ns: $ns;
  gridSize: $pt-grid-size;
  fontFamily: $pt-font-family;
  fontFamilyMonospace: $pt-font-family-monospace;
  fontSize: $pt-font-size;
  fontSizeLarge: $pt-font-size-large;
  fontSizeSmall: $pt-font-size-small;
  lineHeight: $pt-line-height;
  icons16Family: $icons16-family;
  icons20Family: $icons20-family;
  iconSizeStandard: $pt-icon-size-standard;
  iconSizeLarge: $pt-icon-size-large;
  borderRadius: $pt-border-radius;
  buttonHeight: $pt-button-height;
  buttonHeightSmall: $pt-button-height-small;
  buttonHeightSmaller: $pt-button-height-smaller;
  buttonHeightLarge: $pt-button-height-large;
  inputHeight: $pt-input-height;
  inputHeightLarge: $pt-input-height-large;
  inputHeightSmall: $pt-input-height-small;
  navbarHeight: $pt-navbar-height;
  zIndexBase: $pt-z-index-base;
  zIndexContent: $pt-z-index-content;
  zIndexOverlay: $pt-z-index-overlay;
  borderShadowOpacity: $pt-border-shadow-opacity;
  dropShadowOpacity: $pt-drop-shadow-opacity;
  darkBorderShadowOpacity: $pt-dark-border-shadow-opacity;
  darkDropShadowOpacity: $pt-dark-drop-shadow-opacity;
  elevationShadow0: $pt-elevation-shadow-0;
  elevationShadow1: $pt-elevation-shadow-1;
  elevationShadow2: $pt-elevation-shadow-2;
  elevationShadow3: $pt-elevation-shadow-3;
  elevationShadow4: $pt-elevation-shadow-4;
  darkElevationShadow0: $pt-dark-elevation-shadow-0;
  darkElevationShadow1: $pt-dark-elevation-shadow-1;
  darkElevationShadow2: $pt-dark-elevation-shadow-2;
  darkElevationShadow3: $pt-dark-elevation-shadow-3;
  darkElevationShadow4: $pt-dark-elevation-shadow-4;
  transitionEase: $pt-transition-ease;
  transitionEaseBounce: $pt-transition-ease-bounce;
  transitionDuration: $pt-transition-duration;
  inputBoxShadow: $pt-input-box-shadow;
  dialogBoxShadow: $pt-dialog-box-shadow;
  popoverBoxShadow: $pt-popover-box-shadow;
  tooltipBoxShadow: $pt-tooltip-box-shadow;
  darkInputBoxShadow: $pt-dark-input-box-shadow;
  darkDialogBoxShadow: $pt-dark-dialog-box-shadow;
  darkPopoverBoxShadow: $pt-dark-popover-box-shadow;
  darkTooltipBoxShadow: $pt-dark-tooltip-box-shadow;
}
