@import "../../node_modules/@blueprintjs/icons/lib/scss/variables";
:export {
  iconAdd: $pt-icon-add;
  iconAddColumnLeft: $pt-icon-add-column-left;
  iconAddColumnRight: $pt-icon-add-column-right;
  iconAddRowBottom: $pt-icon-add-row-bottom;
  iconAddRowTop: $pt-icon-add-row-top;
  iconAddToArtifact: $pt-icon-add-to-artifact;
  iconAddToFolder: $pt-icon-add-to-folder;
  iconAirplane: $pt-icon-airplane;
  iconAlignCenter: $pt-icon-align-center;
  iconAlignJustify: $pt-icon-align-justify;
  iconAlignLeft: $pt-icon-align-left;
  iconAlignRight: $pt-icon-align-right;
  iconAlignmentBottom: $pt-icon-alignment-bottom;
  iconAlignmentHorizontalCenter: $pt-icon-alignment-horizontal-center;
  iconAlignmentLeft: $pt-icon-alignment-left;
  iconAlignmentRight: $pt-icon-alignment-right;
  iconAlignmentTop: $pt-icon-alignment-top;
  iconAlignmentVerticalCenter: $pt-icon-alignment-vertical-center;
  iconAnnotation: $pt-icon-annotation;
  iconApplication: $pt-icon-application;
  iconApplications: $pt-icon-applications;
  iconArrowBottomLeft: $pt-icon-arrow-bottom-left;
  iconArrowBottomRight: $pt-icon-arrow-bottom-right;
  iconArrowDown: $pt-icon-arrow-down;
  iconArrowLeft: $pt-icon-arrow-left;
  iconArrowRight: $pt-icon-arrow-right;
  iconArrowTopLeft: $pt-icon-arrow-top-left;
  iconArrowTopRight: $pt-icon-arrow-top-right;
  iconArrowUp: $pt-icon-arrow-up;
  iconArrowsHorizontal: $pt-icon-arrows-horizontal;
  iconArrowsVertical: $pt-icon-arrows-vertical;
  iconAsterisk: $pt-icon-asterisk;
  iconAutomaticUpdates: $pt-icon-automatic-updates;
  iconBadge: $pt-icon-badge;
  iconBanCircle: $pt-icon-ban-circle;
  iconBankAccount: $pt-icon-bank-account;
  iconBarcode: $pt-icon-barcode;
  iconBlank: $pt-icon-blank;
  iconBlockedPerson: $pt-icon-blocked-person;
  iconBold: $pt-icon-bold;
  iconBook: $pt-icon-book;
  iconBookmark: $pt-icon-bookmark;
  iconBox: $pt-icon-box;
  iconBriefcase: $pt-icon-briefcase;
  iconBuild: $pt-icon-build;
  iconCalculator: $pt-icon-calculator;
  iconCalendar: $pt-icon-calendar;
  iconCamera: $pt-icon-camera;
  iconCaretDown: $pt-icon-caret-down;
  iconCaretLeft: $pt-icon-caret-left;
  iconCaretRight: $pt-icon-caret-right;
  iconCaretUp: $pt-icon-caret-up;
  iconCellTower: $pt-icon-cell-tower;
  iconChanges: $pt-icon-changes;
  iconChart: $pt-icon-chart;
  iconChat: $pt-icon-chat;
  iconChevronBackward: $pt-icon-chevron-backward;
  iconChevronDown: $pt-icon-chevron-down;
  iconChevronForward: $pt-icon-chevron-forward;
  iconChevronLeft: $pt-icon-chevron-left;
  iconChevronRight: $pt-icon-chevron-right;
  iconChevronUp: $pt-icon-chevron-up;
  iconCircle: $pt-icon-circle;
  iconCircleArrowDown: $pt-icon-circle-arrow-down;
  iconCircleArrowLeft: $pt-icon-circle-arrow-left;
  iconCircleArrowRight: $pt-icon-circle-arrow-right;
  iconCircleArrowUp: $pt-icon-circle-arrow-up;
  iconCitation: $pt-icon-citation;
  iconClean: $pt-icon-clean;
  iconClipboard: $pt-icon-clipboard;
  iconCloud: $pt-icon-cloud;
  iconCloudDownload: $pt-icon-cloud-download;
  iconCloudUpload: $pt-icon-cloud-upload;
  iconCode: $pt-icon-code;
  iconCodeBlock: $pt-icon-code-block;
  iconCog: $pt-icon-cog;
  iconCollapseAll: $pt-icon-collapse-all;
  iconColumnLayout: $pt-icon-column-layout;
  iconComment: $pt-icon-comment;
  iconComparison: $pt-icon-comparison;
  iconCompass: $pt-icon-compass;
  iconCompressed: $pt-icon-compressed;
  iconConfirm: $pt-icon-confirm;
  iconConsole: $pt-icon-console;
  iconContrast: $pt-icon-contrast;
  iconControl: $pt-icon-control;
  iconCreditCard: $pt-icon-credit-card;
  iconCross: $pt-icon-cross;
  iconCrown: $pt-icon-crown;
  iconCube: $pt-icon-cube;
  iconCubeAdd: $pt-icon-cube-add;
  iconCubeRemove: $pt-icon-cube-remove;
  iconCurvedRangeChart: $pt-icon-curved-range-chart;
  iconCut: $pt-icon-cut;
  iconDashboard: $pt-icon-dashboard;
  iconDatabase: $pt-icon-database;
  iconDelete: $pt-icon-delete;
  iconDelta: $pt-icon-delta;
  iconDeriveColumn: $pt-icon-derive-column;
  iconDesktop: $pt-icon-desktop;
  iconDiagramTree: $pt-icon-diagram-tree;
  iconDirectionLeft: $pt-icon-direction-left;
  iconDirectionRight: $pt-icon-direction-right;
  iconDisable: $pt-icon-disable;
  iconDocument: $pt-icon-document;
  iconDocumentOpen: $pt-icon-document-open;
  iconDocumentShare: $pt-icon-document-share;
  iconDollar: $pt-icon-dollar;
  iconDot: $pt-icon-dot;
  iconDoubleCaretHorizontal: $pt-icon-double-caret-horizontal;
  iconDoubleCaretVertical: $pt-icon-double-caret-vertical;
  iconDoubleChevronDown: $pt-icon-double-chevron-down;
  iconDoubleChevronLeft: $pt-icon-double-chevron-left;
  iconDoubleChevronRight: $pt-icon-double-chevron-right;
  iconDoubleChevronUp: $pt-icon-double-chevron-up;
  iconDoughnutChart: $pt-icon-doughnut-chart;
  iconDownload: $pt-icon-download;
  iconDragHandleHorizontal: $pt-icon-drag-handle-horizontal;
  iconDragHandleVertical: $pt-icon-drag-handle-vertical;
  iconDraw: $pt-icon-draw;
  iconDriveTime: $pt-icon-drive-time;
  iconDuplicate: $pt-icon-duplicate;
  iconEdit: $pt-icon-edit;
  iconEject: $pt-icon-eject;
  iconEndorsed: $pt-icon-endorsed;
  iconEnvelope: $pt-icon-envelope;
  iconEquals: $pt-icon-equals;
  iconEraser: $pt-icon-eraser;
  iconError: $pt-icon-error;
  iconEuro: $pt-icon-euro;
  iconExchange: $pt-icon-exchange;
  iconExcludeRow: $pt-icon-exclude-row;
  iconExpandAll: $pt-icon-expand-all;
  iconExport: $pt-icon-export;
  iconEyeOff: $pt-icon-eye-off;
  iconEyeOn: $pt-icon-eye-on;
  iconEyeOpen: $pt-icon-eye-open;
  iconFastBackward: $pt-icon-fast-backward;
  iconFastForward: $pt-icon-fast-forward;
  iconFeed: $pt-icon-feed;
  iconFeedSubscribed: $pt-icon-feed-subscribed;
  iconFilm: $pt-icon-film;
  iconFilter: $pt-icon-filter;
  iconFilterKeep: $pt-icon-filter-keep;
  iconFilterList: $pt-icon-filter-list;
  iconFilterOpen: $pt-icon-filter-open;
  iconFilterRemove: $pt-icon-filter-remove;
  iconFlag: $pt-icon-flag;
  iconFlame: $pt-icon-flame;
  iconFlash: $pt-icon-flash;
  iconFloppyDisk: $pt-icon-floppy-disk;
  iconFlowBranch: $pt-icon-flow-branch;
  iconFlowEnd: $pt-icon-flow-end;
  iconFlowLinear: $pt-icon-flow-linear;
  iconFlowReview: $pt-icon-flow-review;
  iconFlowReviewBranch: $pt-icon-flow-review-branch;
  iconFlows: $pt-icon-flows;
  iconFolderClose: $pt-icon-folder-close;
  iconFolderNew: $pt-icon-folder-new;
  iconFolderOpen: $pt-icon-folder-open;
  iconFolderShared: $pt-icon-folder-shared;
  iconFolderSharedOpen: $pt-icon-folder-shared-open;
  iconFollower: $pt-icon-follower;
  iconFollowing: $pt-icon-following;
  iconFont: $pt-icon-font;
  iconFork: $pt-icon-fork;
  iconForm: $pt-icon-form;
  iconFullCircle: $pt-icon-full-circle;
  iconFullStackedChart: $pt-icon-full-stacked-chart;
  iconFullscreen: $pt-icon-fullscreen;
  iconFunction: $pt-icon-function;
  iconGanttChart: $pt-icon-gantt-chart;
  iconGeolocation: $pt-icon-geolocation;
  iconGeosearch: $pt-icon-geosearch;
  iconGitBranch: $pt-icon-git-branch;
  iconGitCommit: $pt-icon-git-commit;
  iconGitMerge: $pt-icon-git-merge;
  iconGitNewBranch: $pt-icon-git-new-branch;
  iconGitPull: $pt-icon-git-pull;
  iconGitPush: $pt-icon-git-push;
  iconGitRepo: $pt-icon-git-repo;
  iconGlass: $pt-icon-glass;
  iconGlobe: $pt-icon-globe;
  iconGlobeNetwork: $pt-icon-globe-network;
  iconGraph: $pt-icon-graph;
  iconGraphRemove: $pt-icon-graph-remove;
  iconGreaterThan: $pt-icon-greater-than;
  iconGreaterThanOrEqualTo: $pt-icon-greater-than-or-equal-to;
  iconGrid: $pt-icon-grid;
  iconGridView: $pt-icon-grid-view;
  iconGroupObjects: $pt-icon-group-objects;
  iconGroupedBarChart: $pt-icon-grouped-bar-chart;
  iconHand: $pt-icon-hand;
  iconHandDown: $pt-icon-hand-down;
  iconHandLeft: $pt-icon-hand-left;
  iconHandRight: $pt-icon-hand-right;
  iconHandUp: $pt-icon-hand-up;
  iconHeader: $pt-icon-header;
  iconHeaderOne: $pt-icon-header-one;
  iconHeaderTwo: $pt-icon-header-two;
  iconHeadset: $pt-icon-headset;
  iconHeart: $pt-icon-heart;
  iconHeartBroken: $pt-icon-heart-broken;
  iconHeatGrid: $pt-icon-heat-grid;
  iconHeatmap: $pt-icon-heatmap;
  iconHelp: $pt-icon-help;
  iconHelperManagement: $pt-icon-helper-management;
  iconHighlight: $pt-icon-highlight;
  iconHistory: $pt-icon-history;
  iconHome: $pt-icon-home;
  iconHorizontalBarChart: $pt-icon-horizontal-bar-chart;
  iconHorizontalBarChartAsc: $pt-icon-horizontal-bar-chart-asc;
  iconHorizontalBarChartDesc: $pt-icon-horizontal-bar-chart-desc;
  iconHorizontalDistribution: $pt-icon-horizontal-distribution;
  iconIdNumber: $pt-icon-id-number;
  iconImageRotateLeft: $pt-icon-image-rotate-left;
  iconImageRotateRight: $pt-icon-image-rotate-right;
  iconImport: $pt-icon-import;
  iconInbox: $pt-icon-inbox;
  iconInboxFiltered: $pt-icon-inbox-filtered;
  iconInboxGeo: $pt-icon-inbox-geo;
  iconInboxSearch: $pt-icon-inbox-search;
  iconInboxUpdate: $pt-icon-inbox-update;
  iconInfoSign: $pt-icon-info-sign;
  iconInheritance: $pt-icon-inheritance;
  iconInnerJoin: $pt-icon-inner-join;
  iconInsert: $pt-icon-insert;
  iconIntersection: $pt-icon-intersection;
  iconIpAddress: $pt-icon-ip-address;
  iconIssue: $pt-icon-issue;
  iconIssueClosed: $pt-icon-issue-closed;
  iconIssueNew: $pt-icon-issue-new;
  iconItalic: $pt-icon-italic;
  iconJoinTable: $pt-icon-join-table;
  iconKey: $pt-icon-key;
  iconKeyBackspace: $pt-icon-key-backspace;
  iconKeyCommand: $pt-icon-key-command;
  iconKeyControl: $pt-icon-key-control;
  iconKeyDelete: $pt-icon-key-delete;
  iconKeyEnter: $pt-icon-key-enter;
  iconKeyEscape: $pt-icon-key-escape;
  iconKeyOption: $pt-icon-key-option;
  iconKeyShift: $pt-icon-key-shift;
  iconKeyTab: $pt-icon-key-tab;
  iconKnownVehicle: $pt-icon-known-vehicle;
  iconLabel: $pt-icon-label;
  iconLayer: $pt-icon-layer;
  iconLayers: $pt-icon-layers;
  iconLayout: $pt-icon-layout;
  iconLayoutAuto: $pt-icon-layout-auto;
  iconLayoutBalloon: $pt-icon-layout-balloon;
  iconLayoutCircle: $pt-icon-layout-circle;
  iconLayoutGrid: $pt-icon-layout-grid;
  iconLayoutGroupBy: $pt-icon-layout-group-by;
  iconLayoutHierarchy: $pt-icon-layout-hierarchy;
  iconLayoutLinear: $pt-icon-layout-linear;
  iconLayoutSkewGrid: $pt-icon-layout-skew-grid;
  iconLayoutSortedClusters: $pt-icon-layout-sorted-clusters;
  iconLearning: $pt-icon-learning;
  iconLeftJoin: $pt-icon-left-join;
  iconLessThan: $pt-icon-less-than;
  iconLessThanOrEqualTo: $pt-icon-less-than-or-equal-to;
  iconLifesaver: $pt-icon-lifesaver;
  iconLightbulb: $pt-icon-lightbulb;
  iconLink: $pt-icon-link;
  iconList: $pt-icon-list;
  iconListColumns: $pt-icon-list-columns;
  iconListDetailView: $pt-icon-list-detail-view;
  iconLocate: $pt-icon-locate;
  iconLock: $pt-icon-lock;
  iconLogIn: $pt-icon-log-in;
  iconLogOut: $pt-icon-log-out;
  iconManual: $pt-icon-manual;
  iconManuallyEnteredData: $pt-icon-manually-entered-data;
  iconMap: $pt-icon-map;
  iconMapCreate: $pt-icon-map-create;
  iconMapMarker: $pt-icon-map-marker;
  iconMaximize: $pt-icon-maximize;
  iconMedia: $pt-icon-media;
  iconMenu: $pt-icon-menu;
  iconMenuClosed: $pt-icon-menu-closed;
  iconMenuOpen: $pt-icon-menu-open;
  iconMergeColumns: $pt-icon-merge-columns;
  iconMergeLinks: $pt-icon-merge-links;
  iconMinimize: $pt-icon-minimize;
  iconMinus: $pt-icon-minus;
  iconMobilePhone: $pt-icon-mobile-phone;
  iconMobileVideo: $pt-icon-mobile-video;
  iconMoon: $pt-icon-moon;
  iconMore: $pt-icon-more;
  iconMountain: $pt-icon-mountain;
  iconMove: $pt-icon-move;
  iconMugshot: $pt-icon-mugshot;
  iconMultiSelect: $pt-icon-multi-select;
  iconMusic: $pt-icon-music;
  iconNewGridItem: $pt-icon-new-grid-item;
  iconNewLayer: $pt-icon-new-layer;
  iconNewLayers: $pt-icon-new-layers;
  iconNewLink: $pt-icon-new-link;
  iconNewObject: $pt-icon-new-object;
  iconNewPerson: $pt-icon-new-person;
  iconNewPrescription: $pt-icon-new-prescription;
  iconNewTextBox: $pt-icon-new-text-box;
  iconNinja: $pt-icon-ninja;
  iconNotEqualTo: $pt-icon-not-equal-to;
  iconNotifications: $pt-icon-notifications;
  iconNotificationsUpdated: $pt-icon-notifications-updated;
  iconNumberedList: $pt-icon-numbered-list;
  iconNumerical: $pt-icon-numerical;
  iconOffice: $pt-icon-office;
  iconOffline: $pt-icon-offline;
  iconOilField: $pt-icon-oil-field;
  iconOneColumn: $pt-icon-one-column;
  iconOutdated: $pt-icon-outdated;
  iconPageLayout: $pt-icon-page-layout;
  iconPanelStats: $pt-icon-panel-stats;
  iconPanelTable: $pt-icon-panel-table;
  iconPaperclip: $pt-icon-paperclip;
  iconParagraph: $pt-icon-paragraph;
  iconPath: $pt-icon-path;
  iconPathSearch: $pt-icon-path-search;
  iconPause: $pt-icon-pause;
  iconPeople: $pt-icon-people;
  iconPercentage: $pt-icon-percentage;
  iconPerson: $pt-icon-person;
  iconPhone: $pt-icon-phone;
  iconPieChart: $pt-icon-pie-chart;
  iconPin: $pt-icon-pin;
  iconPivot: $pt-icon-pivot;
  iconPivotTable: $pt-icon-pivot-table;
  iconPlay: $pt-icon-play;
  iconPlus: $pt-icon-plus;
  iconPolygonFilter: $pt-icon-polygon-filter;
  iconPower: $pt-icon-power;
  iconPredictiveAnalysis: $pt-icon-predictive-analysis;
  iconPrescription: $pt-icon-prescription;
  iconPresentation: $pt-icon-presentation;
  iconPrint: $pt-icon-print;
  iconProjects: $pt-icon-projects;
  iconProperties: $pt-icon-properties;
  iconProperty: $pt-icon-property;
  iconPublishFunction: $pt-icon-publish-function;
  iconPulse: $pt-icon-pulse;
  iconRandom: $pt-icon-random;
  iconRecord: $pt-icon-record;
  iconRedo: $pt-icon-redo;
  iconRefresh: $pt-icon-refresh;
  iconRegressionChart: $pt-icon-regression-chart;
  iconRemove: $pt-icon-remove;
  iconRemoveColumn: $pt-icon-remove-column;
  iconRemoveColumnLeft: $pt-icon-remove-column-left;
  iconRemoveColumnRight: $pt-icon-remove-column-right;
  iconRemoveRowBottom: $pt-icon-remove-row-bottom;
  iconRemoveRowTop: $pt-icon-remove-row-top;
  iconRepeat: $pt-icon-repeat;
  iconReset: $pt-icon-reset;
  iconResolve: $pt-icon-resolve;
  iconRig: $pt-icon-rig;
  iconRightJoin: $pt-icon-right-join;
  iconRing: $pt-icon-ring;
  iconRotateDocument: $pt-icon-rotate-document;
  iconRotatePage: $pt-icon-rotate-page;
  iconSatellite: $pt-icon-satellite;
  iconSaved: $pt-icon-saved;
  iconScatterPlot: $pt-icon-scatter-plot;
  iconSearch: $pt-icon-search;
  iconSearchAround: $pt-icon-search-around;
  iconSearchTemplate: $pt-icon-search-template;
  iconSearchText: $pt-icon-search-text;
  iconSegmentedControl: $pt-icon-segmented-control;
  iconSelect: $pt-icon-select;
  iconSelection: $pt-icon-selection;
  iconSendTo: $pt-icon-send-to;
  iconSendToGraph: $pt-icon-send-to-graph;
  iconSendToMap: $pt-icon-send-to-map;
  iconSeriesAdd: $pt-icon-series-add;
  iconSeriesConfiguration: $pt-icon-series-configuration;
  iconSeriesDerived: $pt-icon-series-derived;
  iconSeriesFiltered: $pt-icon-series-filtered;
  iconSeriesSearch: $pt-icon-series-search;
  iconSettings: $pt-icon-settings;
  iconShare: $pt-icon-share;
  iconShield: $pt-icon-shield;
  iconShop: $pt-icon-shop;
  iconShoppingCart: $pt-icon-shopping-cart;
  iconSimCard: $pt-icon-sim-card;
  iconSlash: $pt-icon-slash;
  iconSmallCross: $pt-icon-small-cross;
  iconSmallMinus: $pt-icon-small-minus;
  iconSmallPlus: $pt-icon-small-plus;
  iconSmallTick: $pt-icon-small-tick;
  iconSnowflake: $pt-icon-snowflake;
  iconSocialMedia: $pt-icon-social-media;
  iconSort: $pt-icon-sort;
  iconSortAlphabetical: $pt-icon-sort-alphabetical;
  iconSortAlphabeticalDesc: $pt-icon-sort-alphabetical-desc;
  iconSortAsc: $pt-icon-sort-asc;
  iconSortDesc: $pt-icon-sort-desc;
  iconSortNumerical: $pt-icon-sort-numerical;
  iconSortNumericalDesc: $pt-icon-sort-numerical-desc;
  iconSplitColumns: $pt-icon-split-columns;
  iconSquare: $pt-icon-square;
  iconStackedChart: $pt-icon-stacked-chart;
  iconStar: $pt-icon-star;
  iconStarEmpty: $pt-icon-star-empty;
  iconStepBackward: $pt-icon-step-backward;
  iconStepChart: $pt-icon-step-chart;
  iconStepForward: $pt-icon-step-forward;
  iconStop: $pt-icon-stop;
  iconStopwatch: $pt-icon-stopwatch;
  iconStrikethrough: $pt-icon-strikethrough;
  iconStyle: $pt-icon-style;
  iconSwapHorizontal: $pt-icon-swap-horizontal;
  iconSwapVertical: $pt-icon-swap-vertical;
  iconSymbolCircle: $pt-icon-symbol-circle;
  iconSymbolCross: $pt-icon-symbol-cross;
  iconSymbolDiamond: $pt-icon-symbol-diamond;
  iconSymbolSquare: $pt-icon-symbol-square;
  iconSymbolTriangleDown: $pt-icon-symbol-triangle-down;
  iconSymbolTriangleUp: $pt-icon-symbol-triangle-up;
  iconTag: $pt-icon-tag;
  iconTakeAction: $pt-icon-take-action;
  iconTaxi: $pt-icon-taxi;
  iconTextHighlight: $pt-icon-text-highlight;
  iconTh: $pt-icon-th;
  iconThDerived: $pt-icon-th-derived;
  iconThDisconnect: $pt-icon-th-disconnect;
  iconThFiltered: $pt-icon-th-filtered;
  iconThList: $pt-icon-th-list;
  iconThumbsDown: $pt-icon-thumbs-down;
  iconThumbsUp: $pt-icon-thumbs-up;
  iconTick: $pt-icon-tick;
  iconTickCircle: $pt-icon-tick-circle;
  iconTime: $pt-icon-time;
  iconTimelineAreaChart: $pt-icon-timeline-area-chart;
  iconTimelineBarChart: $pt-icon-timeline-bar-chart;
  iconTimelineEvents: $pt-icon-timeline-events;
  iconTimelineLineChart: $pt-icon-timeline-line-chart;
  iconTint: $pt-icon-tint;
  iconTorch: $pt-icon-torch;
  iconTrain: $pt-icon-train;
  iconTranslate: $pt-icon-translate;
  iconTrash: $pt-icon-trash;
  iconTree: $pt-icon-tree;
  iconTrendingDown: $pt-icon-trending-down;
  iconTrendingUp: $pt-icon-trending-up;
  iconTwoColumns: $pt-icon-two-columns;
  iconUnderline: $pt-icon-underline;
  iconUndo: $pt-icon-undo;
  iconUngroupObjects: $pt-icon-ungroup-objects;
  iconUnknownVehicle: $pt-icon-unknown-vehicle;
  iconUnlock: $pt-icon-unlock;
  iconUnpin: $pt-icon-unpin;
  iconUnresolve: $pt-icon-unresolve;
  iconUpdated: $pt-icon-updated;
  iconUpload: $pt-icon-upload;
  iconUser: $pt-icon-user;
  iconVariable: $pt-icon-variable;
  iconVerticalBarChartAsc: $pt-icon-vertical-bar-chart-asc;
  iconVerticalBarChartDesc: $pt-icon-vertical-bar-chart-desc;
  iconVerticalDistribution: $pt-icon-vertical-distribution;
  iconVideo: $pt-icon-video;
  iconVolumeDown: $pt-icon-volume-down;
  iconVolumeOff: $pt-icon-volume-off;
  iconVolumeUp: $pt-icon-volume-up;
  iconWalk: $pt-icon-walk;
  iconWarningSign: $pt-icon-warning-sign;
  iconWaterfallChart: $pt-icon-waterfall-chart;
  iconWidget: $pt-icon-widget;
  iconWidgetButton: $pt-icon-widget-button;
  iconWidgetFooter: $pt-icon-widget-footer;
  iconWidgetHeader: $pt-icon-widget-header;
  iconWrench: $pt-icon-wrench;
  iconZoomIn: $pt-icon-zoom-in;
  iconZoomOut: $pt-icon-zoom-out;
  iconZoomToFit: $pt-icon-zoom-to-fit;
}
