printWidth: 110
tabWidth: 2
useTabs: false
semi: true
singleQuote: true
quoteProps: consistent
jsxSingleQuote: false
trailingComma: all
bracketSpacing: true
jsxBracketSameLine: true
arrowParens: avoid
htmlWhitespaceSensitivity: css
proseWrap: always
endOfLine: auto
embeddedLanguageFormatting: auto
singleAttributePerLine: false
overrides:
  - files: '*.test.js'
    options:
      semi: true
  - files:
      - '*.html'
      - 'legacy/**/*.js'
    options:
      tabWidth: 4
