{
  "printWidth": 120,
  "trailingComma": "all",
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "htmlWhitespaceSensitivity": "css",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": true,
  "tabWidth": 2
}
