@import 'normalize.css';
@import '@blueprintjs/core';
// @import "@blueprintjs/icons/lib/css/blueprint-icons.css";
@import '@blueprintjs/core/lib/scss/variables';

html {
  overflow: hidden;
}
// .bp3-dark {
//   background-color: $pt-dark-app-background-color;
// }
.bp3-dialog-header {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  button,
  a {
    -webkit-app-region: no-drag;
  }
}
